@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="img" style="background-image: url(~/Images/labour2.jpg);background-size:cover;background-position:center center; height:100vh;position:fixed;left:0;right:0;z-index:-1;filter:blur(3px);-webkit-filter:blur(3px);"></div>

<h1 style="color:darkred;text-align:center">@ViewData["Title"]</h1>
<div class="row" style="background-color:black">

    <div class="img">
        <img src="~/Images/labour3.jpg" style="height:500px;width:500px">
    </div>

    <div style="height:500px;width:500px;padding-left:50px">
        <form id="account" method="post">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" style="color:white"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" style="color:white"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" style="color:white">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" style="color:white">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:white">Register as a new user</a>
                </p>
            </div>
        </form>
        
    </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
